{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "importOrder": ["^@mui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}