.head {
    .nav-box {
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: row;
        background: #22678c;

        // div{
        //     border: 1px solid red;
        // }

        .hamburger-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 2em;
            cursor: pointer;
            padding-left: 5px;
        }

        a {
            text-decoration: none;
        }

        .icon {
            flex: 2;
            padding-left: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .navbar-brand {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                color: black;

                .brand-name {
                    margin-left: 10px;
                    color: black;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }

        .enviroment {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 10px;
        }

        .enviroment span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: red;
            border-radius: 5px;
            color: white;
            width: 50px;
        }

        .menu {
            flex: 8;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            ul {
                list-style-type: none;
                display: flex;
                gap: 10px;
                margin: 0;
                margin-left: 10px;
                padding: 0;

                .nav-link {
                    color: black;
                    text-decoration: none;
                }

                a {
                    padding: 2px 5px;
                    display: block;
                    text-decoration: none;
                        background: #6ba7c7;
                            color: #032c41;

                    &:hover {
                        padding: 2px 5px;
                        display: block;
                        text-decoration: none;
                        background: #032c41;
                        color: #6ba7c7;
                    }

                    &.active {
                        padding: 2px 5px;
                        display: block;
                        text-decoration: none;
                        background: #114b6b;
                        color: #6ba7c7;
                    }
                }


            }
        }

        .switch-facility {
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 2px;
        }

        .user {
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex: 3;
        }
    }
}