@mixin transitionAll() {
    transition: all .3s ease-out;
}

.side {
    padding-top: 5px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;

    @include transitionAll();

    &.is-closed {
        margin-left: -200px;
    }

    ul {
        list-style: none;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            margin: 2px 2px;

            a {
                background-color: #6ba7c7;
                padding: 5px 10px;
                display: block;
                text-decoration: none;
                color: #032c41;
            }

            a:hover {
                background-color: #333;
                padding: 5px 10px;
                display: block;
                text-decoration: none;
                color: #6ba7c7;
            }

            a.active {
                background-color: #114b6b;
                padding: 5px 10px;
                display: block;
                text-decoration: none;
                color: #6ba7c7;
            }
        }
    }
}